<div class="add-review-finish">
  <h2>Congratulations! We have successfully imported
    <span class="total-review">{{ totalReviews }}</span> reviews into your store!</h2>

  <a class="ars-btn-lg" href="{{url}}" target="_blank">CHECK THEM ITEM NOW!</a>
  <a class="ars-btn-lg" data-dismiss="modal" style="background: #a5b6d0 !important;">ADDING REVIEWS</a>
</div>