<div class="dropdown alireview-dropdown-icon">
  <span class="alireview-icon dropdown-toggle {{#if imported}} alireview-icon-imported {{/if}}" id="{{id}}" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"></span>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{id}}">
    <ul class="alireview-list-action">
      <li>
        <span class="js-alireview-action-get-review">
          <span class="alireview-icon-action alireview-icon-get-review"></span>Get reviews</span>
      </li>
      <li>
        <a href="{{url}}" target="_blank">
          <span class="alireview-icon-action alireview-icon-manage-review"></span>Manage reviews</a>
      </li>
    </ul>
  </div>
</div>