<div class="modal fade" id="modalNotPermit" tabindex="-1" role="dialog" aria-labelledby="modalNotPermit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="add-reviews-wrap">
          <div class="add-no-review">
            <div class="add-no-review">
              <p>{{message}}</p>
              <a class="ars-btn-lg" href="{{url}}" target="_blank">Upgrade to premium</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>