<div class="add-no-review">
  <h2>{{ titleNoReview }}</h2>
  <div class="add-no-review">
    <p>{{ descriptionNoReview }}</p>
    <a class="ars-btn-lg" data-dismiss="modal">{{actionNoReview}}</a>
  </div>
</div>