.alireview-dropdown-icon {
  ul {
    min-width: 200px;
  }

  .dropdown-menu {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    border: none !important;
    margin-top: -5px;
  }
}
.alireview-icon {
  width: 36px;
  height: 36px;
  background: url(../images/alireviews_extension_icon.png) no-repeat center
    center;
  position: absolute;
  background-size: contain;
  bottom: 10px;
  right: 10px;

  &:hover {
    cursor: pointer;
  }
}

.alireview-icon-imported {
  background-image: url(../images/aliIconImported.png);
}

.alireview-list-action {
  li {
    &:first-child {
      > span {
        padding: 4px 16px;
        clear: both;
        font-weight: 400;
        line-height: 20px;
        white-space: nowrap;
        color: #f63663 !important;

        &:hover {
          cursor: pointer;
        }

        .alireview-icon-get-review {
          background-image: url(../images/addOverlay.png) !important;
        }
      }
    }
    span {
      display: flex !important;
      align-items: center !important;
    }
    a {
      display: flex !important;
      align-items: center !important;
    }
    .alireview-icon-action {
      margin-right: 10px;
      display: block;

      &.alireview-icon-get-review {
        width: 11px;
        height: 11px;
        background: url(../images/add.png) no-repeat center center;
        background-size: contain;
      }

      &.alireview-icon-manage-review {
        width: 8px;
        height: 11px;
        background: url(../images/manage.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
}
