.add-reviews-loading {
  text-align: center !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  padding: 0 0 80px !important;
  h2 {
    margin: 60px 0 0 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    color: $color_text !important;
    line-height: 1.45em !important;
    text-align: center !important;
    span {
      font-size: 32px !important;
      color: #0a67f4 !important;
    }
  }
  p {
    margin: 0 !important;
    font-size: 18px !important;
  }
}
