#alireviews-bulk-import-hero,
#alireviews-bulk-nav-button {
    vertical-align: middle;

    .eAlrv-button--warning {
        padding: 9px 20px;
        font-size: 13px;
    }
}

#alireviews-bulk-nav-button .eAlrv-logo-17x17,
#alireviews-bulk-import-hero .eAlrv-logo-17x17 {
    margin-right: 10px;
}

.eAlrv-modal #translate-language-selected {
    font-size: 12px;
}

.eAlrv-modal #get-review-filter-country + div {
    .multiselect-selected-text {
        font-size: 13px;
    }

    .eAlrv-checkbox-wrap {
       margin-bottom: 5px;
       margin-top: 5px;
    }

    button.multiselect {
        padding: 5px 8px;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        color: inherit;
        cursor: pointer;
        height: 32px;
        transition: 0.15s;
    }

    .multiselect-container>li.active,
    .multiselect-item {
        background-color: transparent !important;
    }

    .multiselect-container li {
        padding: 0 15px;

        &.filter {
            padding-left: 0;
        }

        &:hover {
            background-color: #eee !important;
        }
    }

    .multiselect-container.dropdown-menu li {
        float: left;
        width: 100%;
        font-size: 12px;
    }

    &.open {
        button.multiselect {
            border-bottom: 1px solid $purple !important;
        }
    }

    .multiselect-container>li.active>a:focus label.checkbox:before,
    .multiselect-container>li.active>a:hover label.checkbox:before,
    .multiselect-container>li.active>a>label.checkbox:before {
        background-color: #f53665 !important;
    }

    .multiselect-container>li>a:focus label.checkbox:before,
    .multiselect-container>li>a:hover label.checkbox:before {
        background-color: rgba(246, 54, 100, 0.28) !important;
    }

    .multiselect-container>li>a>label.checkbox {
        padding: 5px 20px 8px 50px !important;
    }
}

.alireview-toast-wrapper {
    position: fixed;
    top: 80px;
    z-index: 9999;
    right: 2rem;
  
    .alert {
      padding-right: 3rem !important;
    }
  }
  
  .alireview-toast-wrapper .alert {
      &.show {
          opacity: 1;
      }
  }

.ali-bulk-process {
    max-width: 250px;
    width: 100%;
    position: fixed;
    right: 5px;
    top: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    display: none;
    background: white;
    border-radius: 3px;
    overflow: hidden;

    .progress__header {
        position: relative;
        background-color: rgb(251, 182, 47);
        padding: 20px 10px;

        .progress__header .alireview-icon {
            position: relative;
            top: 0px;
            left: 0px;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: bottom;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAABHNCS…5WBMf4b5qmQ93OBA0+afnbT003S2U5qzy5Dsy4AKOZ9bmYH6bollpPZAEoAAAAAElFTkSuQmCC) !important;
        }

        strong {
            position: absolute;
            top: 50%;
            color: #fff;
            font-size: 16px;
            transform: translateY(-50%);
            margin-left: 8px;
            font-size: 14px;
            font-weight: 500;
        }

        .close-progress {
            min-width: 10px;
            background-color: transparent;
            color: #fff;
            text-align: center;
            font-size: 18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 12px;
            padding: 0px;
        }
    }

    .wrap-progress {
        padding: 15px 20px;

        .progress-bar.progress-bar-striped {
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            background-size: 1rem 1rem;
        }
    }

    .progress {
        display: flex;
        height: 1rem;
        font-size: 0.75rem;
        background-color: rgb(233, 236, 239);
        overflow: hidden;
        border-radius: 0.25rem;
    }

    .progress-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        height: 15px;
        text-align: center;
        text-overflow: ellipsis;
        background-color: rgb(36, 37, 56) !important;
        overflow: hidden;

        .sr-only {
            display: inline-block;
            transform: translateY(-2px);
            clip: inherit;
            width: inherit;
            height: inherit;
            font-size: 11px;
            margin: 0;
            margin-top: -3px;
        }
    }

    .close-progress {
        border: none;
        outline: none !important;

        .eAlrv-icon-close {
            color: #fff;

            &:hover {
                color: #ececec;
            }
        }
    }
}

.style-error {
    font-size: 11px;
    color: red;
    font-weight: 500;
}

#alireviews-bulk-nav-button {
    display: none;
}

#toggleDefaultFilterSetting {
    display: none;
}

.eAlrv-icon-handle-import-wrap {
    position: absolute;
    top: 5px;
    right: 5px;
    user-select: none;

    .eAlrv-icon-handle-item {
        width: 36px;
        height: 36px;

        &:hover .eAlrv-icon-handle-import {
            opacity: 0.85;
        }
    }

    .eAlrv-icon-handle-import {
        cursor: pointer;
        opacity: 0.7;
    }

    [aria-expanded=true] {
        opacity: 1;
    }

    .dropdown-menu {
        top: calc(100% + 40px);
        left: initial;
        right: 0;
        margin: 0;
        padding: 0;
        width: 36px;
        background-color: #fff;
        border: none !important;

        li {
            padding: 7px 15px !important;
            cursor: pointer;
            line-height: normal;
            border-radius: 4px;


            a {
                font-size: 13px;
                color: #a6a7ad;
            }

            &:hover {
                background-color: #e9e9f0;

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}
