.upgrade-version-page {
    font-size: 13px;
    color: #242539;

    .table > thead > tr > th {
        color: #FFB303;
        font-size: 17px;
        vertical-align: top;
    }

    

    .table > thead > tr > th:nth-child(2),
    .table > thead > tr > th:nth-child(3),
    .table > thead > tr > th:nth-child(4),
    .table > tbody > tr td:nth-child(2),
    .table > tbody > tr td:nth-child(3),
    .table > tbody > tr td:nth-child(4) {
        text-align: center;
        padding-bottom: 15px;
        padding-top: 17px;
    }

    .table > tbody > tr > td:nth-child(1) {
        vertical-align: middle;
    }

    .table > thead > tr > th,
    .table > tbody > tr > td {
        border-right: solid 1px #E8E9EC;

        &:last-child {
            border-right: none;
        }
    }

    .table > tbody > tr:nth-child(odd) {
        background-color: #F5F6F7;
    }

    td img {
        user-select: none;
    }

    .table > tbody > tr:last-child td:nth-child(3) {
        border-bottom: none;
    }
}

.upgrade-version-page {
    .table-responsive {
        padding: 25px 0;
        padding-top: 0px;
        padding-bottom: 0;
    }

    .style-button button:not(.have-voucher-btn),
    .style-button a:not(.have-voucher-btn) {
        @extend .button--lg;
        width: 145px;
        font-weight: 600;
        border: solid 1px #f89f0d;
        color: #f39512;
        padding: 10px 20px;
        padding-bottom: 11px;
        font-size: 13px;

        &:hover {
            @extend .alireviews-bg;
            color: #fff;
            opacity: 0.85;
        }

        &:active {
            opacity: 1;
        }

        &.active {
            @extend .alireviews-bg;
            color: #fff;
            opacity: 0.85;
            pointer-events: none;
        }
    }

    .style-button .th-recommend {
        @extend .alireviews-bg;
        color: #fff !important;
        border-radius: 8px 8px 0 0;

        .button {
            background: #fff !important;
            color: #ffb513 !important;

            &:hover {
                background: #fff !important;
                color: #ffb513 !important;
                opacity: 0.7;
            }

            &.active {
                background: #fff !important;
                opacity: 1 !important;
            }
        }

        .btn-add-discount-code {
            color: #fff;
        }
    }

    .style-button .have-voucher-btn,
    .style-button .have-voucher-btn {
        font-size: 11px;
        color: #FEB500;
        margin-top: 10px;
        display: inline-block;
    }

    .obelo {
        color: #FEB500;
        font-weight: 700;
    }

    h3 {
        color: #242539;
        font-size: 25px;
        font-weight: 700;
    }
}



@media only screen and (max-width: 1366px) {
    .upgrade-version-page .table-responsive {
        overflow-x: auto !important;
    }
}
